<h2>Search for other users </h2>

<form>
  <input type="text" placeholder="Search..">
</form>

<div class="names" ng-controller="people">
    <ul>
    </ul>

    <h2> Names of the team members </h2>
    <select>
            <option value="karabo">Karabo</option>
            <option value="Tuduetso">Tuduetso</option>
            <option value="Maruping">Maruping</option>
            <option value="Miky">Miky</option>
            <option value="Benny">Benny</option>
            <option value="Rofhiwa">Rofhiwa</option>
            <option value="Ryane">Ryane</option>
            <option value="Thapelo">Thapelo</option>
            <option value="Tsundzu">Tsundzu</option>
    </select>

</div> 
