<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body class="text-center">

<div class="d-flex h-100 mx-auto flex-column">
    <header class="masthead mb-auto">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Kudos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
     LMAO
    </span>
            </div>
        </nav>
    </header>

    <main role="main" class="full-height">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Kudos</h1>
            <p class="lead">Kudos is a behavioral modification tool. We use Kudos to reward great behavior and suggest
                better ways to deal with unsatisfactory behavior</p>
            <hr class="my-4">
            <div  class="container">
                <section class="row justify-content-center">
                    <div class="col-6">
                        <ngb-tabset [justify]="currentJustify">
                            <ngb-tab title="Join Kudos">
                                <ng-template ngbTabContent>
                                    <form class="mt-5">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Email</label>
                                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4">Password</label>
                                                <input type="password" class="form-control" id="inputPassword4"
                                                       placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Date of Birth" (click)="d.toggle()"
                                                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg"
                                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-outline-secondary">Join Kudos</button>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Login to Kudos</ng-template>
                                <ng-template ngbTabContent>
                                    <form class="container mt-5">
                                        <div class="form-group">
                                            <label for="login_username">Email address</label>
                                            <input type="email" class="form-control" id="login_username"
                                                   aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="login_pass">Password</label>
                                            <input type="password" class="form-control" id="login_pass" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-outline-secondary">Login</button>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>

