html {
  margin: 40px auto;
  text-align: center;
}
.btn-googleplus {
	  background: #E93F2E;
	  border-radius: 5px;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
      border-color: #b72213;
      
	}
	.btn-googleplus:link, .btn-googleplus:visited {
	  color: #fff;
	}
	.btn-googleplus:active, .btn-googleplus:hover {
	  background: #b72213;
	  color: #fff;
		}
		
html {
  margin: 40px auto;
  text-align: center;
}
.btn-facebook {
	  background: #3B5998;
	  border-radius: 5px;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
.btn-success {
	border-width: 1px;
	border-style: solid;
	box-shadow: 2px 1px #263961;
}
	
	.btn-success:active, .btn-success:hover {
	  background: #006400;
	  color: #fff;
	}